In [42]:
# importing libraries

import pandas as pd
import numpy as np

In [43]:
# reading files

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [44]:
movies.head() # checking data

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [45]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [46]:
# preparing data table for analysis

ratings_pivot = pd.pivot_table(data=ratings, values='rating', index='userId', columns='movieId')
ratings_pivot.head()

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
5           4.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 9724 columns]

In [47]:
# finding correlation between two variavles. 
# We are interested in knowing the relation between two movies based on user rating.

correlation_matrix = ratings_pivot.corr(method='pearson')
correlation_matrix.head(10)

movieId    1         2         3         4       ...  193583  193585  193587  193609
movieId                                          ...
1        1.000000  0.330978  0.487109  1.000000  ...     NaN     NaN     NaN     NaN
2        0.330978  1.000000  0.419564       NaN  ...     NaN     NaN     NaN     NaN
3        0.487109  0.419564  1.000000       NaN  ...     NaN     NaN     NaN     NaN
4        1.000000       NaN       NaN  1.000000  ...     NaN     NaN     NaN     NaN
5        0.310971  0.562791  0.602266  0.654654  ...     NaN     NaN     NaN     NaN
6        0.106465  0.163510  0.345069       NaN  ...     NaN     NaN     NaN     NaN
7        0.208402  0.430261  0.554088  0.203653  ...     NaN     NaN     NaN     NaN
8        0.968246  0.415227  0.333333       NaN  ...     NaN     NaN     NaN     NaN
9        0.095913  0.277350  0.458591       NaN  ...     NaN     NaN     NaN     NaN
10      -0.021409  0.016626 -0.050276  0.870388  ...     NaN     NaN     NaN     NaN

[10 rows x 9724 columns]

In [48]:
# getting the users who rated Jumanji-movie

Jumanji_rating = ratings_pivot[2]
Jumanji_rating[Jumanji_rating>=0]

userId
6      4.0
8      4.0
18     3.0
19     3.0
20     3.0
      ...
600    4.0
602    4.0
604    5.0
605    3.5
608    2.0
Name: 2, Length: 110, dtype: float64

In [49]:
# finding similar movies to Jumanji movie using Pearson correlation

similar_to_Jumanji = ratings_pivot.corrwith(Jumanji_rating)
corr_Jumanji = pd.DataFrame(similar_to_Jumanji, columns=['PearsonR'])
corr_Jumanji.dropna(inplace=True)
corr_Jumanji.head()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

         PearsonR
movieId
1        0.330978
2        1.000000
3        0.419564
5        0.562791
6        0.163510

In [50]:
Jumanji_corr_summary = corr_Jumanji

In [51]:
# getting top 5 most similar movies

Jumanji_corr_summary.sort_values('PearsonR', ascending=False).head(5)

         PearsonR
movieId
92938         1.0
4736          1.0
127204        1.0
101525        1.0
127202        1.0

In [52]:
# getting the details for most similar movies

movie_corr_Jumanji = pd.DataFrame([2, 92938, 4736, 127204, 101525, 127202], index=np.arange(6),
                                   columns=['movieId'])
summary = pd.merge(movie_corr_Jumanji, movies, on='movieId')
summary

   movieId                                    title                      genres
0        2                           Jumanji (1995)  Adventure|Children|Fantasy
1    92938  Ghost Rider: Spirit of Vengeance (2012)     Action|Fantasy|Thriller
2     4736                      Summer Catch (2001)        Comedy|Drama|Romance
3   127204                     The Overnight (2015)                      Comedy
4   101525       Place Beyond the Pines, The (2012)                 Crime|Drama
5   127202    Me and Earl and the Dying Girl (2015)                       Drama